<h1><%= year %>年<%= month %>月<%= period %>のシフト</h1>
<% for i in 0...31%>
    <% if shifts[i] == [] %>
        <div><%= i+1 %>日</div>
    <% elsif shifts[i] != nil %>
        <div><%= i+1 %>日</div>
        <%shifts[i].each do |s|%>
             <div>
             <% if s[2]-s[1] == 0 and s[4]-s[3] == 0%>
                <%= s[0] %>:昼 <%= s[1] %>時〜<%= s[2] %>時 夜 <%= s[3] %>時〜<%= s[4] %>時
            <% elsif s[2]-s[1] == 0 %>
                <%= s[0] %>:夜 <%= s[3] %>時〜<%= s[4] %>時 
            <% elsif s[4]-s[3] == 0 %>   
                <%= s[0] %>:昼 <%= s[1] %>時〜<%= s[2] %>時
            <% end %>           
            </div>
        <% end %>
    <% end %>
<% end %>

<%=
form_for :user, "/user", method: :get do
    submit '戻る'
end
%>


